.peliculaTarjeta{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    transition: all .25s ease-out;
}
.peliculaTarjeta:hover{
    transform: scale(1.1);
}

.peliculaImagen {
    border-radius: 10px;
    background-color: azure;
    width: 230px;
    height: 345px;
}

@media (max-width: 596px){
    .peliculaImagen {
        width: 90%;
        height: auto;
    }
}